.git
.github
data
docs
downloaded_files
shiny-demo-stdout.log
shiny-demo-stderr.log
synthetic_google_summary.png
synthetic_histogram.png
width-1024.png
width-1024-after.png
width-1024-delay.png
width-1024-final.png
width-1400.png
width-1400-after.png
width-1400-delay.png
width-768.png
width-768-after.png
width-768-delay.png
__pycache__
*.pyc
